language: node_js
sudo: false
cache:
  directories:
  - node_modules
matrix:
  include:
  - node_js: '0.10'
  - node_js: '0.11'
  - node_js: '4.2'
  - node_js: '5.0'
    env: npm_config_coverage=1
addons:
  code_climate:
    repo_token:
      secure: goYYAuK21Q29GJEOTgmDNYJxUntJ6fip4WQTYUToPgeFUGg4Cm2gcL+7AW0sbdDqob/NXBLnoeWhJM+trjCY+J8Atsn+m0rTZBcZQ1QVPJg4XGXw9Zxe5Budv2CbAGaU4BMZnIjrUZgcXaO60FqHoHbba4O4CrVEDHCKnmqd06A=
after_success: |
  if [ -n "$COVERAGE" ]; then
    npm install -g codeclimate-test-reporter
    codeclimate-test-reporter < coverage/lcov.info
  fi
deploy:
  provider: npm
  email: me@samcday.com.au
  api_key:
    secure: io5NLBTubGHTq7Iwhshg8oRnLnKmP3e3J8A2+XLgoEFdQvgDHuTe2WHpwPwor2bZR7pPnBGNgfuoZp2HYO0euK5BctCei0G+spH838f1DMeBp2ZE4U7i+7M9zA0fZIdXOR6y0FUC56IVOf8t5Nl9Q3BlxJiveQgw3Qq01DhtQuE=
  on:
    tags: true
    repo: samcday/node-fastcgi-stream
    node: '5.0'
